html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

* {
  margin: 1em;
  padding: 0.5em;
}

button {
  margin-top: 10px;
  border: 2px solid black;
  color: white;
  background-color: #080736;
  cursor: pointer;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
}
button:hover {
  background-color: #383636;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.error {
  color: red;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
